## Data from World Happiness Report

The World Happiness Report is an annual publication of the United Nations Sustainable Development Solutions Network. It contains articles, and rankings of national happiness based on respondent ratings of their own lives, which the report also correlates with various life factors.

In this notebook we will explore the happiness of different countries and the features associated.
The datasets that we will use are available in *Data*: **happiness2020.pkl** and **countries_info.csv**.

Although the features are self-explanatory, here a summary: 

**happiness2020.pkl**
* country: *Name of the country*
* happiness_score: *Happiness score*
* social_support: *Social support (mitigation the effects of inequality)*
* healthy_life_expectancy: *Healthy Life Expectancy*
* freedom_of_choices: *Freedom to make life choices*
* generosity: *Generosity (charity, volunteers)*
* perception_of_corruption: *Corruption Perception*
* world_region: *Area of the world of the country*

**countries_info.csv**
* country_name: *Name of the country*
* area: *Area in sq mi*
* population: *Number of people*
* literacy: *Literacy percentage*

In [1]:
!head Data/countries_info.csv

country_name,area,population,literacy
afghanistan,647500,31056997,"36,0"
albania,28748,3581655,"86,5"
algeria,2381740,32930091,"70,0"
argentina,2766890,39921833,"97,1"
armenia,29800,2976372,"98,6"
australia,7686850,20264082,"100,0"
austria,83870,8192880,"98,0"
azerbaijan,86600,7961619,"97,0"
bahrain,665,698585,"89,1"

In [2]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.csv"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

## Task 1: Load the data

Load the 2 datasets in Pandas dataframes (called *happiness* and *countries*), and show the first rows.


**Hint**: Use the correct reader and verify the data has the expected format.

In [3]:
happiness = pd.read_csv(HAPPINESS_DATASET)
happiness

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States
...,...,...,...,...,...,...,...,...
130,Venezuela,5.0532,0.890408,66.505341,0.623278,-0.169091,0.837038,Latin America and Caribbean
131,Vietnam,5.3535,0.849987,67.952736,0.939593,-0.094533,0.796421,Southeast Asia
132,Yemen,3.5274,0.817981,56.727283,0.599920,-0.157735,0.800288,Middle East and North Africa
133,Zambia,3.7594,0.698824,55.299377,0.806500,0.078037,0.801290,Sub-Saharan Africa
134,Zimbabwe,3.2992,0.763093,55.617260,0.711458,-0.072064,0.810237,Sub-Saharan Africa

In [12]:
countries = pd.read_csv(COUNTRIES_DATASET)
countries

countries['country_name'].dtype

dtype('O')

## Task 2: Let's merge the data

Create a dataframe called *country_features* by merging *happiness* and *countries*. A row of this dataframe must describe all the features that we have about a country.

**Hint**: Verify that all the rows are in the final dataframe.

In [5]:
# happiness['country'] = happiness['country'].astype(str).str.lower()
# countries['country_name'] = countries['country_name'].astype(str).str.lower()

# countries = countries.rename(columns={'country_name': 'country'})

# country_features = pd.merge(happiness, countries, on='country')
# country_features

happiness['country_name'] = happiness['country'].apply(lambda r: r.lower())
country_features = happiness.merge(countries, on="country_name").drop("country_name", axis=1)
country_features.head()

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia,647500,31056997,"36,0"
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe,28748,3581655,"86,5"
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa,2381740,32930091,"70,0"
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean,2766890,39921833,"97,1"
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States,29800,2976372,"98,6"

## Task 3: Where are people happier?

Print the top 10 countries based on their happiness score (higher is better).

In [6]:
# order then head(10)
# Sort by 'happiness_score' in descending order and select the top 10
top_10_countries = country_features.sort_values(by='happiness_score', ascending=False).head(10)

# Print the top 10 countries and their happiness scores
top_10_countries[['country', 'happiness_score']]

         country  happiness_score
38       Finland           7.8087
31       Denmark           7.6456
115  Switzerland           7.5599
50       Iceland           7.5045
92        Norway           7.4880
87   Netherlands           7.4489
114       Sweden           7.3535
88   New Zealand           7.2996
6        Austria           7.2942
72    Luxembourg           7.2375

We are interested to know in what world region people are happier. 

Create and print a dataframe with the (1) average happiness score and (2) the number of contries for each world region.
Sort the result to show the happiness ranking.

In [7]:
# Group by world region, count number of countries and mean happiness
world_regions = country_features.groupby('world_region').agg(
    {'country': 'count', 'happiness_score': 'mean'}).reset_index().rename(
    columns={'country': 'country_count', 'happiness_score': 'mean_happiness_score'}).sort_values(
    by='mean_happiness_score', ascending=False)
    
world_regions

                         world_region  country_count  mean_happiness_score
5               North America and ANZ              4              7.173525
9                      Western Europe             20              6.967405
3         Latin America and Caribbean             20              5.971280
0          Central and Eastern Europe             14              5.891393
7                      Southeast Asia              8              5.517788
2                           East Asia              3              5.483633
1  Commonwealth of Independent States             12              5.358342
4        Middle East and North Africa             16              5.269306
8                  Sub-Saharan Africa             32              4.393856
6                          South Asia              6              4.355083

The first region has only a few countries! What are them and what is their score?

In [8]:
# Write your code here
top_region = world_regions.iloc[0]['world_region']
countries_in_first_region = country_features[country_features['world_region'] == top_region]

# print country names and score
countries_scores = countries_in_first_region[['country', 'happiness_score']]
countries_scores

           country  happiness_score
5        Australia           7.2228
21          Canada           7.2321
88     New Zealand           7.2996
127  United States           6.9396

## Task 4: How literate is the world?

Print the names of the countries with a level of literacy of 100%. 

For each country, print the name and the world region in the format: *{region name} - {country name} ({happiness score})*

In [9]:
countries['literacy'] = countries['literacy'].str.replace(',', '.')
countries['literacy'] = countries['literacy'].astype(float)

In [10]:
literacy_100 = countries[countries['literacy']==100.0]
literacy_100

   country_name     area  population  literacy
5     australia  7686850    20264082     100.0
31      denmark    43094     5450661     100.0
38      finland   338145     5231372     100.0
72   luxembourg     2586      474413     100.0
92       norway   323802     4610820     100.0

In [11]:
# join literacy_100 with happiness table
literacy_100 = pd.merge(literacy_100, happiness, on='country')

# print results
for index, row in literacy_100.iterrows():
    print(f"{row['world_region']} - {row['country']} ({row['happiness_score']})")

KeyError: 'country'

What is the global average?

In [ ]:
countries['literacy'].mean()

Calculate the proportion of countries with a literacy level below 50%. Print the value in percentage, formatted with 2 decimals.

In [ ]:
# my idea: len of table of countries with <0.5 / len of table
100*len(countries[countries['literacy']<50.0]) / len(countries)

Print the raw number and the percentage of world population that is illiterate.

In [ ]:
# for each country: # illiterate = ((100-literacy)/100)*population
# then sum
countries['# illiterate'] = (countries['population']*(100-countries['literacy'])/100)
print(f"Raw number of illiterate population: {countries['# illiterate'].sum()}")
print(f"Proportion: {countries['# illiterate'].sum()/countries['population'].sum()}")

## Task 5: Population density

Add to the dataframe a new field called *population_density* computed by dividing *population* by *area*.

In [ ]:
country_features['density'] = country_features['population']/country_features['area']
country_features

What is the happiness score of the 3 countries with the lowest population density?

In [ ]:
lowest_density = country_features.sort_values(by='density')[['country', 'happiness_score']].head(3)
lowest_density

## Task 6: Healty and happy?

Plot in a scatter plot the happiness score (x) and healty life expectancy (y).

In [ ]:
import matplotlib.pyplot as plt

# Assuming 'happiness_score' and 'healthy_life_expectancy' columns exist

# Step 1: Create a scatter plot
plt.figure(figsize=(8, 6))
plt.scatter(country_features['happiness_score'], country_features['healthy_life_expectancy'], color='b', alpha=0.7)

# Step 2: Add labels and title
plt.xlabel('Happiness Score')
plt.ylabel('Healthy Life Expectancy')
plt.title('Scatter Plot of Happiness Score vs. Healthy Life Expectancy')

# Step 3: Show the plot
plt.show()

In [ ]:
country_features.plot.scatter(x='happiness_score', y='healthy_life_expectancy')

Feel free to continue the exploration of the dataset! We'll release the solutions next week.

----
Enjoy EPFL and be happy, next year Switzerland must be #1.